/* ######################
    VARIABLE DECLARATIONS */

//  Colors
$mustard: #E0D021;
$tomato: #e0546c;
$sherbet: #F5992B;
$lava: #F04627;
$soft-peach: #F04627;

$text-color: #111;
$title-color: #220;

$background-body: blanchedalmond;

/* ######################
    STYLES */

body {
    background-color: $background-body;
}