/* ######################
    VARIABLE DECLARATIONS */

//  Colors
$main-mustard: #e0d021;
$main-tomato: #e0546c;
$main-sherbet: #f5992b;
$main-aqua: aqua;
$main-shrek: #9ca238;

$color-soft-gray: #c9d1d9;
$color-blue: #349ef2;
$color-light-blue: #a7d7fd;
$color-lavender: #d1aafd;
$color-gold: #d59923;

$main-text-color: $color-soft-gray;
$main-title-color: $color-gold;
$main-link-color: $color-light-blue;
$main-link-hover: $color-blue;
$main-link-address: $color-lavender;

$main-background-body: #222;

//  Fonts
$font-body-size: 16px;
$font-body-family: 'Source Sans Pro', sans-serif;

$font-main-family: 'Source Code Pro', monospace;

$font-title-family: aktiv-grotesk, sans-serif;
$font-title-weight: 900;
$font-title-style: normal;

/* ######################
    STYLES */
body {
	margin: 0;
	padding: 0;
	font-size: $font-body-size;
	font-family: $font-body-family;
	background-color: black;
	color: white;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#title {
	display: flex;
	flex-direction: row;

	font-family: $font-title-family;
	font-weight: $font-title-weight;
	font-style: $font-title-style;
	font-size: 2rem;

	padding: 2rem;

	img {
		height: 4rem;
		margin-right: 0.75rem;
	}
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: gray;
}

main {
	background-color: $main-background-body;
	font-family: $font-main-family;
	color: $main-text-color;
	margin: 0;
	padding: 3rem;
}

.main-content {
	margin: 0 auto;
	max-width: 70ch;
}

a {
	text-decoration: none;

	&:link {
		color: red;
	}
	&:active {
		color: $main-link-color;
	}
	&:visited {
		color: $main-link-color;
	}
	&:link {
		color: $main-link-color;
	}
	&:hover {
		color: $main-link-hover;
	}

	// Adds zero-width non-joiner character after each link so that URL will wrap separately from anchor text
	&:after {
		content: '\200B';
	}
}

main a {
	text-decoration: none;

	&:link {
		color: $main-link-color;
	}
	&:active {
		color: $main-link-color;
	}
	&:visited {
		color: $main-link-color;
	}
	&:hover {
		color: $main-link-hover;
		text-decoration: underline;
	}
}

span {
	color: $main-link-address;
}

header {
	margin-right: 2rem;
}

nav ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

nav li {
	padding: 0.5rem 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $main-title-color;
	margin-top: 3rem;
}

h1 {
	margin-top: 0;
}
h1 + h2,
h2 + h3,
h3 + h4 {
	margin-top: 0;
}
h1:before {
	content: '# ';
}
h2:before {
	content: '## ';
}
h3:before {
	content: '### ';
}
h4:before {
	content: '#### ';
}

main ul {
	list-style: none;
	margin: 1rem 0 0 0;
	padding: 0;
}
main li:before {
	content: '- ';
}

main strong {
	&:before,
	&:after {
		content: '**';
	}
}

main em {
	&:before,
	&:after {
		content: '_';
	}
}

footer p {
	padding: 1rem 2rem;
}
